---
import Social from "./Social.astro";

// const platform = "github";
// const username = "withastro";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

</style>


<footer>
  <!-- <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}><strong>{platform}<strong/></a>!</p> -->
  <Social platform="Twitter" username="astrodotbuild" />
  <Social platform="GitHub" username="withastro" /> 
  <Social platform="YouTube" username="astrodotbuild" /> 

</footer>